.menuPort {
    background: #00802b;
    width: 1920px;
    height: 80px;
    
}

.menuPort a{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    top: 30px;
    position: relative;
    display: inline-flex;
    align-content: center;
    justify-content: center;
    left: 32%;
}

.menuPort p{
    color: #6de695;
}

.menuPort img{
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 10%;
}

.downloadCV{
    background: #6de695;
    color: #ffffff;
    border-style: none;
    width: 160px;
    height: 50px;
    top: 15px;
    left: 85%;
    position: absolute;
    box-shadow: 5px 5px 1px rgb(0, 0, 0);
}