.menuPort {
    background: #00802b;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
}

.menuPort a{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    top: 30px;
    left: 560px;
    position: relative;
}

.menuPort img{
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 20%;
}

.downloadCV{
    background: #6de695;
    border-style: none;
    width: 150px;
    height: 50px;
    top: 15px;
    left: 1150px;
    position: absolute;
    box-shadow: 5px 5px 1px rgb(0, 0, 0);
}