.projects{
    padding: 45px;
    background: #000;
    display: grid;
    align-content: center;
    justify-content: center;
    
}

.projects h2{
    font-size: 32px;
    color: #fff;
    padding-bottom: 30px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.projects img{
    padding: 10px;
    width: 200px;
    height: 200px;
}


