.foto img{
    width: 100%;
    height: 100%;
}

.nomeLink{
    background: #6de695;
    border-style: none;
    width: 350px;
    height: 110px;
    top: 200px;
    left: 150px;
    position: absolute;  
    box-shadow: 5px 5px 1px rgb(0, 0, 0);
}

.nomeLink h1{
    margin: 10px 0px 20px 20px;
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 1px rgb(0, 0, 0);
}

.nomeLink p{
    margin: 10px 0px 20px 40px;
    color: rgb(233, 233, 233);
    text-shadow: 3px 3px 1px rgb(0, 0, 0);
}


a{
    color: #fff;
}

.downloadFoto{
    background: #6de695;
    border-style: none;
    width: 150px;
    height: 80px;
    top: 350px;
    left: 150px;
    position: absolute;  
    box-shadow: 5px 5px 1px rgb(0, 0, 0);
}

.downloadContato{
    background: #6de695;
    border-style: none;
    width: 150px;
    height: 80px;
    top: 350px;
    left: 350px;
    position: absolute;  
    box-shadow: 5px 5px 1px rgb(0, 0, 0);
}